<!--
File: /Users/nysa/Library/CloudStorage/OneDrive-UWEBristol/DESD/mysite/hello_world/templates/hello_world.html
Created Date: Tuesday, January 30th 2024, 4:05:17 pm
Author: Jago Gardiner
-----
Last Modified: Tuesday January 30th 2024 4:05:17 pm
-----
HISTORY:
Date      	By	Comments
----------	---	----------------------------------------------------------
-->
{% extends "index.html" %}

{% block content %}
<!-- Use it like any other HTML element -->
<h2>Upload GLB File</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="glb_file">
    <button type="submit">Upload</button>
</form>
{% endblock %}
